@page
@model RedTen.Pages.Games.CreateModel

@{
    ViewData["Title"] = "Create";
}
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(

        function () {
            $("#ShiftRight, #ShiftLeft").click(function (event) {
                var ID = $(event.target).attr("ID");
                var ChooseFrom = (ID === "ShiftRight") ? "#LeftList" : "#RightList";
                var moveTo = (ID === "ShiftLeft") ? "#LeftList" : "#RightList";
                var selectData = $(ChooseFrom + " :selected").toArray();
                $(moveTo).append(selectData);
                selectData.remove;
            });
            $(".btn-primary").click(function () {
                $("#RightList").find("option").each(function () {
                    $(this).prop("selected", true);
                })
            });
        });


</script>
<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.Session_Time" class="control-label"></label>
                <input asp-for="Game.Session_Time" class="form-control" />
                <br />
                <span asp-validation-for="Game.Session_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Available Players
                            </th>
                            <th>

                            </th>
                            <th>
                                Players In-Game
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="5">
                                <select id="LeftList" multiple="multiple" asp-for="Available" asp-items="@(new SelectList(Model.Available, "PlayerId", "Name"))" size="8" class="col-md-10">
                                </select>
                            </td>
                            <td>
                            </td>
                            <td rowspan="5">
                                <select id="RightList" multiple="multiple" asp-for="PlayersInGame" asp-items="@(new SelectList(Model.PlayersInGame, "PlayerId", "Name"))" size="8" class="col-md-10">
                                </select>
                                <br />
                                <span asp-validation-for="PlayersInGame" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><input id="ShiftRight" type="button" value=" >> " /></td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>

                            <td><input id="ShiftLeft" type="button" value=" << " /></td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label asp-for="Game.Location" class="control-label"></label>
                    <input asp-for="Game.Location" class="form-control" />
                    <span asp-validation-for="Game.Location" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
