@page
@model RedTen.Pages.Games.EditModel

@{
    ViewData["Title"] = "Edit";
}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ShiftRight, #ShiftLeft").click(function (event) {
            var ID = $(event.target).attr("ID");
            var ChooseFrom = ID == "ShiftRight" ? "ChooseLeft" : "#ChooseRight";
            var ChooseFrom = ID == "ShiftLeft" ? "ChooseLeft" : "#ChooseRight";
            var SelectData = $(ChooseFrom + " :selected").toArray();
            $(moveTo).append(selectData);
            SelectData.remove;
        });
    });
</script>
<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Game.id" />
            <div class="form-group">
                <label asp-for="Game.Session_Time" class="control-label"></label>
                <input asp-for="Game.Session_Time" class="form-control" />
                <span asp-validation-for="Game.Session_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Available Players
                            </th>
                            <th>

                            </th>
                            <th>
                                Currently Playing
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="5">
                                <select id="ChooseLeft" multiple="multiple" asp-for="Available" asp-items="@(new SelectList(Model.Available, "id", "Name"))" size="8" class="col-md-10">
                                    
                                </select>
                            </td>
                            <td>
                                
                                
                            </td>
                            <td rowspan="5">
                                <select id="ChooseRight" multiple="multiple" asp-for="Game.Players" asp-items="@(new SelectList(Model.Game.Players, "id", "Name"))" size="8" class="col-md-10">

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input id="ShiftRight" type="button" value=" >> " /></td>
                        </tr>
                        <tr>

                        </tr>
                        <tr>
                           
                            <td><input id="ShiftRight" type="button" value=" << " /></td>
                        </tr>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
