@page
@model RedTen.Pages.Games.EditModel

@{
    ViewData["Title"] = "Game Result";
}

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(
    
        function () {
            $("#ShiftRight, #ShiftLeft").click(function (event) {
                var ID = $(event.target).attr("ID");
                var ChooseFrom = (ID === "ShiftRight") ? "#LeftList" : "#RightList";
                var moveTo = (ID === "ShiftLeft") ? "#LeftList" : "#RightList";
                var selectData = $(ChooseFrom + " :selected").toArray();
                $(moveTo).append(selectData);
                selectData.remove;
            });

            $("#LeftList").find("option").each(function () {
                $(this).prop("selected", true);
            });
            $("#RightList").find("option").each(function () {
                $(this).prop("selected", true);
            })

            $(".btn-primary").click(function () {
                $("#RightList").find("option").each(function () {
                    $(this).prop("selected", true);
                })
            });
        });
</script>
<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Game.GameId" />
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Game.Session_Time" class="control-label"></label>
                    <input asp-for="Game.Session_Time" class="form-control" />
                    <span asp-validation-for="Game.Session_Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Location" class="control-label"></label>
                    <input id="ChangeLocation" asp-for="Game.Location" class="form-control" />
                    <span asp-validation-for="Game.Location" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <table class="table" style="border: 0">
                    <thead>
                        <tr>
                            <th style="border: 0">
                                Winners
                            </th>
                            <th style="border: 0">

                            </th>
                            <th style="border: 0">
                                Losers
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="5" style="border: 0">
                                    <select id="LeftList" multiple="multiple" asp-for="Players" asp-items="@(new SelectList(Model.Players, "PlayerId", "Name"))" size="8" class="col-md-10">
                                    </select>
                                <br />
                                <span asp-validation-for="Players" class="text-danger"></span>
                            </td>
                            <td style="border: 0">
                                
                                
                            </td>
                            <td rowspan="5" style="border: 0">
                                <select id="RightList" multiple="multiple" asp-for="Losers" asp-items="@(new SelectList(Model.Losers, "PlayerId", "Name"))" size="8" class="col-md-10">
                                </select>
                                <br />
                                <span asp-validation-for="Losers" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 0"><input id="ShiftRight" type="button" value=" >> " /></td>
                        </tr>
                        <tr>

                        </tr>
                        <tr>
                           
                            <td style="border: 0"><input id="ShiftLeft" type="button" value=" << " /></td>
                        </tr>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
